{
  "presets": [
    [
      "env",
      {
        "exclude": ["transform-es2015-classes"],
        "debug": {
          "sourceMap": "inline",
          "retainLines": true
        }
      }
    ]
  ]
}
